<div class="row mb-1">
  <div class="col">
    <h3 class="main">Log in</h3>
    <p>
      <input type="text" id="username" class="form-control input-width input-custom" placeholder="Username"
      [(ngModel)]="username">
    </p>
    <p>
      <input type="password" id="password" class="form-control input-width input-custom" placeholder="Password"
      (keyup.enter)="login()" [(ngModel)]="password">
    </p>
    <p>
      <button (click)="login()" type="submit" class="btn btn-custom login">Log in</button>
    </p>
    <p>
      <button class="btn btn-custom ">
        <a class="register text-decoration-none text-light" routerLink="/register" routerLinkActive="active">Register</a>
      </button>  
    </p>
  </div>
</div>