<!-- main Container -->
<div class="container-flex m-3 text-center w-50 m-auto mb-0 main-content">

    <!-- theme toggle -->
    <div class="row mt-1 mb-2">
        <div class="col">
            <button (click)="toggleTheme()"
                [ngClass]="{'btn': true, 'dark-mode-btn': isDarkTheme, 'light-mode-btn': !isDarkTheme}" class="fw-bold">Theme</button>
        </div>
    </div>

    <!-- logo -->
    <div class="row mb-2">
        <div class="col ">
            <img src="assets/saver.png" alt="saver" class="img-fluid logo-size">
        </div>
    </div>

    <!-- router-outlet -->
    <router-outlet></router-outlet>

</div>

<!-- Footer -->
<footer class="container-fluid text-center footer-custom">
    <div class="row pt-1">
        <div class="col">
            <img src="assets/incognito.png" alt="Incognito's" class="incognito-img"><br>
            <button class="incognito-style rounded-pill ps-3 pe-3"><a href="https://github.com/AlexTsika/saver-angular" target="_blank" class="text-decoration-none text-dark">Made by The Incognito's</a></button>
        </div>
    </div>
</footer>