<!-- main Container -->
<div class="container-fluid m-3 pt-3 text-center m-auto mb-0 main-content">

    <!-- theme toggle-->
    <div class="row justify-content-end">
        <div class="col">
            <button [ngClass]="{'btn': true, 'dark-mode-btn': isDarkTheme, 'light-mode-btn': !isDarkTheme}" class="float-end btn border border-2 rounded-pill text-black" (click)="toggleTheme()"><i
                class="fa-solid fa-sun text-black"></i> / <i class="fa-solid fa-moon text-black"></i></button>
            <!-- logout button -->
            <button (click)="logout()"
            [ngClass]="{'btn': true, 'dark-mode-btn': isDarkTheme, 'light-mode-btn': !isDarkTheme}"
            class="fw-bold mb-2 float-start rounded-pill">Logout</button>
        </div>
    </div>

    <!-- logo -->
    <div class="row mb-2">
        <div class="col ">
            <img src="assets/saver.png" alt="saver" class="img-fluid logo-size">
        </div>
    </div>

    <!-- router-outlet -->
    <router-outlet></router-outlet>

</div>

<!-- Footer -->
<footer class="container-fluid footer-custom">
    <div class="row justify-content-evenly">
        <div class="col p-2 text-center">
            <img src="assets/incognito.png" alt="Incognito's" class="incognito-img"><br>
            <button class="incognito-style rounded-pill ps-3 pe-3"><a href="https://github.com/AlexTsika/saver-angular"
                    target="_blank" class="text-decoration-none text-dark fw-bold">Made by The Incognito's</a></button>
        </div>
        <div class="col-md p-2 text-center text-light">
            <div class="row justify-content-center">
                <div class="col text-end">
                    <p class="mt-0 mb-1 fw-bold">Alexandros Tsikakis</p>
                    <p class="mt-0 mb-0 fw-bold">Milan Vermeulen</p>
                    <p class="mt-1 mb-0 fw-bold">Remco Duckers</p>
                </div>
                <div class="col text-start">
                    <p class="mt-0 mb-1">
                        <!-- Alex links -->
                        <a href="mailto:Alexandros.Tsikakis@ymail.com" target="_blank">
                            <i class="fa-solid fa-envelope footer-icons ms-0"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/alexandros-tsikakis-3b525a252/" target="_blank">
                            <i class="fa-brands fa-linkedin footer-icons"></i>
                        </a>
                        <a href="https://github.com/AlexTsika" target="_blank">
                            <i class="fa-brands fa-github footer-icons"></i>
                        </a>
                    </p>
                    <p class="mt-0 mb-0">
                        <!-- Milan links -->
                        <a href="mailto:email@example.com" target="_blank">
                            <i class="fa-solid fa-envelope footer-icons ms-0"></i>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <i class="fa-brands fa-linkedin footer-icons"></i>
                        </a>
                        <a href="https://github.com/MilanVermeulen" target="_blank">
                            <i class="fa-brands fa-github footer-icons"></i>
                        </a>
                    </p>
                    <p class="mt-1 mb-0">
                        <!-- Remco links -->
                        <a href="mailto:email@example.com" target="_blank">
                            <i class="fa-solid fa-envelope footer-icons ms-0"></i>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <i class="fa-brands fa-linkedin footer-icons"></i>
                        </a>
                        <a href="https://github.com/rem3600" target="_blank">
                            <i class="fa-brands fa-github footer-icons"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>