<!-- Monthly Saving -->
<div class="row mb-2">
    <div class="col">
        <h1>Monthly Saving</h1>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <input id="initialAmount" [(ngModel)]="initialAmount" type="number" class="form-control" placeholder="Current Savings">
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <input id="monthlyContribution" [(ngModel)]="monthlyContribution" type="number" class="form-control" placeholder="Monthly Savings">
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <input id="interestRate" [(ngModel)]="interestRate" type="number" class="form-control" placeholder="Interest Rate" (keyup.enter)="calculateSavings()">
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <input type="number" class="form-control" placeholder="Amount of Time" (keyup.enter)="calculateSavings()">
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <button class="btn btn-light" (click)="calculateSavings()">Calculate Savings</button>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <p>{{ totalSavings }}</p>
    </div>
</div>
<!-- Saving Towards Goal
<div class="row mb-2">
    <div class="col">
        <h1>Saving Towards Goal</h1>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <input type="number" class="form-control" placeholder="Goal">
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <input type="number" class="form-control" placeholder="Current Savings">
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <input type="number" class="form-control" placeholder="Monthly Savings">
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <input type="number" class="form-control" placeholder="Interest Rate">
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <button class="btn btn-light" >Calculate Time</button>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <p></p>
    </div>
</div> -->