<div class="container">
    <div class="row">
        <div class="col">
             <div class="mb-3">
                <div class="mb-3 sm-2" >
                    <input id="initialAmount" [(ngModel)]="initialAmount" type="number" class="form-control" placeholder="Current Savings">
                </div>
                <div class="mb-3 sm-2">
                    <input id="monthlyContribution" [(ngModel)]="monthlyContribution" type="number" class="form-control" placeholder="Monthyly Savings">
                </div>
                <div class = "mb-3 sm-2">
                    <input id="interestRate" [(ngModel)]="interestRate" type="number" class="form-control" placeholder="your current interest Rate.">
                </div>
                <div class = "mb-3 sm-2">
                    <input id="years" [(ngModel)]="years" type="number" class="form-control" placeholder="Amount of years">
                </div>
                <div class="mb-3 sm-2">
                    <button class="btn btn-primary" (click)="calculateSavings()">Calculate Savings</button>
                </div>
                <div>
                {{ totalSavings }}
                </div>
            </div>
        </div>
    </div>
</div>