<div class="row mb-1">
    <div class="col">
        <h3 class="mt-2 mb-4">Hello {{ storedUsername }}, let's start saving!</h3>
        <p>
            <input id="initialAmount" [(ngModel)]="initialAmount" type="number" class="form-control input-custom"
            placeholder="Current Savings">
        </p>
        <p>
            <input id="monthlyContribution" [(ngModel)]="monthlyContribution" type="number"
            class="form-control input-custom" placeholder="Monthly Savings">
        </p>
        <p>
            <input id="interestRate" [(ngModel)]="interestRate" type="number" class="form-control input-custom"
            placeholder="Interest Rate" (keyup.enter)="calculateSavings()">
        </p>
        <p>
            <input id="targetAmount" [(ngModel)]="targetAmount" type="number" class="form-control input-custom" placeholder="Target Amount" (keyup.enter)="calculateSavings()">
        </p>
        <p>
            <button class="btn btn-custom" (click)="calculateSavings()">Calculate</button>
        </p>
    </div>
</div>
