/* You can add global styles to this file, and also import other style files */
body {
    background-color: white;
}

.btn-width {
    width: 5rem;
}

.logo-size {
    max-height: 18rem;
}

.input-custom {
    max-width: 20rem;
    margin: auto;
    border-color: black;
    border-width: 2px;
}

.main-content {
    height: fit-content;
}

.footer-custom {
    height: 6rem;
    bottom: 0;
    position: absolute;
    background-color: #246ee9;
}

.incognito-img {
    height: 3rem;
    width: auto;
}

.btn-custom {
    background-color: #246ee9;
    color: white;
    border-color: black;
    border-width: 2px;
}

.incognito-style {
    background-color: white;
    border-color: #010101;
    border-width: 3px;
    color: #010101;
    padding: 4px;
}

body.dark-mode {
    background-color: black;
    color: white;
  }
  