/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f8f9fa;
}

.btn-width {
    width: 5rem;
}

.logo-size {
    max-height: 18rem;
}

.input-custom {
    max-width: 20rem;
    margin: auto;
    border-color: black;
    border-width: 2px;
}

.footer-custom {
    height: fit-content;
    bottom: 0;
    background-color: #246ee9;
}

.incognito-img {
    height: 3rem;
    width: auto;
}

.btn-custom {
    background-color: #246ee9;
    color: white;
    border-color: black;
    border-width: 2px;
    width: 6rem;

}

.incognito-style {
    background-color: white;
    border-color: #010101;
    border-width: 3px;
    color: #010101;
    padding: 4px;
}

body.dark-mode {
    background-color: #212529;
    color: #f8f9fa;
}

.dark-mode-btn {
    background-color: #f8f9fa;
    color: #212529;
    border-color: #246ee9;
    border-width: 2px;
    width: 6rem;
}

.light-mode-btn {
    background-color: #212529;
    color: #f8f9fa;
    border-color: #246ee9;
    border-width: 2px;
    width: 6rem;
}

.dark-mode-btn:hover {
    background-color: #246ee9;
    color: #f8f9fa;
}

.light-mode-btn:hover {
    background-color: #246ee9;
    color: #f8f9fa;
}

.main-content {
    min-height: 100vh;
    /* 6rem is the height of the footer */
}

.footer-icons {
    color: white;
    font-size: larger;
    margin-left: 8px;
    margin-right: 8px;
}

.footer-icons:hover {
    color: #010101;
}

.logout-btn:hover {
    background-color: #246ee9;
    }