<div class="row mb-2">
    <div class="col">
        <h1 class="main">Register</h1>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <input type="text" id="username" class="form-control" placeholder="Username" [(ngModel)]="name">
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <input type="text" id="email" class="form-control" placeholder="Email" [(ngModel)]="email">
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <input type="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="password">
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <button (click)="register()" type="submit" class="btn btn-light btn-width login">Register</button>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <button class="btn btn-light btn-width">
            <a class="register text-decoration-none text-dark" routerLink="/login" routerLinkActive="active">Login</a>
        </button>
    </div>
</div>